{combine_css path="themes/bootstrapdefault/admin/css/admin.css"}
<div class="titrePage">
    <h2>{'Bootstrap Darkroom'|@translate} {$TABSHEET_TITLE}</h2>
</div>
<div id="configContent" style="margin: 0 auto; max-width: 420px">
    <h3>{'Bootstrap Darkroom'|@translate}</h3>
    <h4>{'Version'|@translate}: 1.4.10</h4>
    <h5>{'By'|@translate}: <a href="https://github.com/tkuther/piwigo-bootstrap-darkroom">Thomas Kuther</a></h5>
    <h5>{'Based on Bootstrap Default by'|@translate}: <a href="https://philio.me">Phil Bayfield</a></h5>

    <p>{'A mobile-ready theme based on Boostrap Default'|@translate}</p>

    <p>{'Download'|@translate}: <a href="http://piwigo.org/ext/extension_view.php?eid=831" target="_blank">http://piwigo.org/ext/extension_view.php?eid=796</a>
    </p>

    <p>{'Source'|@translate}: <a href="https://github.com/tkuther/piwigo-bootstrap-darkroom" target="_blank">https://github.com/tkuther/piwigo-bootstrap-darkroom</a>
    </p>

    <p>{'Documentation'|@translate}: <a href="https://github.com/tkuther/piwigo-bootstrap-darkroom/wiki" target="_blank">https://github.com/tkuther/piwigo-bootstrap-darkroom/wiki</a>
    </p>

    <p>If you find any issues, please report them to the <a href="https://github.com/tkuther/piwigo-bootstrap-darkroom/issues">Issue tracker</a>
    </p>

    <p><a href="https://github.com/tkuther/piwigo-bootstrap-darkroom/issues"
          target="_blank">{'Bug reports and features requests'|@translate}</a>
    </p>
</div>
