{combine_css path="themes/bootstrapdefault/admin/css/admin.css"}
<div class="titrePage">
    <h2>{'Bootstrap Default'|@translate} {$TABSHEET_TITLE}</h2>
</div>
<div id="configContent" style="margin: 0 auto; max-width: 420px">
    <h3>{'Bootstrap Default'|@translate}</h3>
    <h4>{'Version'|@translate}: 1.0.4</h4>
    <h5>{'By'|@translate}: <a href="https://philio.me">Phil Bayfield</a></h5>

    <p>{'A modern and responsive theme for Piwigo built with standard Bootstrap components and using the default Bootstrap theme. Intended for easy customisation using Bootstrap styles or as a parent theme for creating responsive themes for Piwigo.'|@translate}</p>

    <p>{'Download'|@translate}: <a href="http://piwigo.org/ext/extension_view.php?eid=796" target="_blank">http://piwigo.org/ext/extension_view.php?eid=796</a>
    </p>

    <p>{'Source'|@translate}: <a href="https://github.com/Philio/bootstrapdefault" target="_blank">https://github.com/Philio/bootstrapdefault</a>
    </p>

    <p><a href="https://github.com/Philio/bootstrapdefault/issues"
          target="_blank">{'Bug reports and features requests'|@translate}</a>
    </p>
</div>