{combine_css path="themes/bootstrapdefault/admin/css/admin.css"}
<div class="titrePage">
    <h2>{'Bootstrap Default'|@translate} {$TABSHEET_TITLE}</h2>
</div>
<div id="configContent">
    <fieldset class="mainConf">
        <legend>1.0.4</legend>
        <ul>
            <li>{'Merged '|@translate} <a href="https://github.com/Philio/bootstrapdefault/pull/27" target="_blank">#27</a> - {"Fixes issues with rating disaply"|@translate}</li>
            <li>{'Merged '|@translate} <a href="https://github.com/Philio/bootstrapdefault/pull/30" target="_blank">#30</a> - {"Fixes issues with contextual nav on mobile devices"|@translate}</li>
            <li>{'Merged '|@translate} <a href="https://github.com/Philio/bootstrapdefault/pull/29" target="_blank">#29</a> - {"Adds support for the Additional Pages plugin"|@translate}</li>
        </ul>
    </fieldset>
    <fieldset class="mainConf">
        <legend>1.0.3</legend>
        <ul>
            <li>{'Merged '|@translate} <a href="https://github.com/Philio/bootstrapdefault/pull/24" target="_blank">#24</a> - {"Compatibility fixes for Piwigo 2.8"|@translate}</li>
            <li>{'Fixed '|@translate} <a href="https://github.com/Philio/bootstrapdefault/issues/17" target="_blank">#17</a> - {"Added an option to hide the top menu and jumbotron on picture page"|@translate}</li>
        </ul>
    </fieldset>
    <fieldset class="mainConf">
        <legend>1.0.2</legend>
        <ul>
            <li>{'Fixed '|@translate} <a href="https://github.com/Philio/bootstrapdefault/issues/14" target="_blank">#14</a> - {"Rating stars appear above side bar"|@translate}</li>
            <li>{'Fixed '|@translate} <a href="https://github.com/Philio/bootstrapdefault/issues/16" target="_blank">#16</a> - {"Side bar not correctly hidden in Safari"|@translate}</li>
        </ul>
    </fieldset>
    <fieldset class="mainConf">
        <legend>1.0.1</legend>
        <ul>
            <li>{'Fixed '|@translate} <a href="https://github.com/Philio/bootstrapdefault/issues/12" target="_blank">#12</a> - {"Social settings can't be disabled in admin"|@translate}</li>
            <li>{'Fixed '|@translate} <a href="https://github.com/Philio/bootstrapdefault/issues/9" target="_blank">#9</a> - {"Title link incorrect when Piwigo is not installed on root of domain"|@translate}</li>
            <li>{'Fixed '|@translate} <a href="https://github.com/Philio/bootstrapdefault/issues/13" target="_blank">#13</a> - {"Plugins that prefilter image information should now work, e.g. Forecast, OpenStreetMap"|@translate}</li>
        </ul>
    </fieldset>
    <fieldset class="mainConf">
        <legend>1.0.0</legend>
        <ul>
            <li>{'Minor bugs fixed'|@translate}</li>
            <li>{'Plugin support improvements'|@translate}</li>
            <li>{'Added custom CSS support'|@translate}</li>
        </ul>
    </fieldset>
    <fieldset class="mainConf">
        <legend>1.0.0-rc2</legend>
        <ul>
            <li>{'Added HTML5/canvas alternative tag cloud with corresponding admin setting'|@translate}</li>
            <li>{'Added option to switch between the default bootstrap theme and no theme'|@translate}</li>
            <li>{'Small improvements to Bootstrap styles used, e.g. primary buttons'|@translate}</li>
            <li>{'Fixed '|@translate} <a href="https://github.com/Philio/bootstrapdefault/issues/8" target="_blank">#8</a> - {"GDThumb plugin wasn't working correctly"|@translate}</li>
            <li>{'Fixed some minor transation issues'|@translate}</li>
            <li>{'Fixed help popup'|@translate}</li>
        </ul>
    </fieldset>
    <fieldset class="mainConf">
        <legend>1.0.0-rc1</legend>
        <ul>
            <li>
                {'Added configuration page in admin'|@translate}
                <ul>
                    <li>{'Configure social integration settings'|@translate}</li>
                    <li>{'Configure comments'|@translate}</li>
                </ul>
            </li>
            <li>{'Added Disqus support'|@translate}</li>
            <li>{'Disabled calendar functionality completely for now'|@translate}</li>
            <li>{'Merged'|@translate} <a href="https://github.com/Philio/bootstrapdefault/pull/7" target="_blank">#7</a> - {'Extra quote in index template'|@translate}</li>
            <li>{'Merged'|@translate} <a href="https://github.com/Philio/bootstrapdefault/pull/4" target="_blank">#4</a> - {'Fix paths for child theme'|@translate}s</li>
        </ul>
    </fieldset>
    <fieldset class="mainConf">
        <legend>0.9.9-pr3</legend>
        <ul>
            <li>{'Added warning when language switch plugin is enabled with download link to a Bootstrap compatible alternative'|@translate}</li>
        </ul>
    </fieldset>
    <fieldset class="mainConf">
        <legend>0.9.9-pr2</legend>
        <ul>
            <li>{'Fixed'|@translate} <a href="https://github.com/Philio/bootstrapdefault/issues/1" target="_blank">#1</a> - {"Some plugins didn't load correctly"|@translate}</li>
        </ul>
    </fieldset>
    <fieldset class="mainConf">
        <legend>0.9.9-pr1</legend>
        <ul>
            <li>{'Initial preview release|@translate'}</li>
        </ul>
    </fieldset>
</div>