{if not $ENABLE_SYNCHRONIZATION}
{html_style}{literal}
#helpSynchro {display:none;}
{/literal}{/html_style}
{/if}

<h2>{'Link Administration'|@translate} &raquo; {$HELP_SECTION_TITLE}</h2>

<div id="helpContent">

{$HELP_CONTENT}

</div>