tr.property td, tr.submit td {
  padding:10px 5px;
}
tr.property td:hover, tr.submit td:hover {
  background-color:#f9f9f9;
}
tr.property td:first-child {
  text-align:right;
  font-weight:bold;
}
tr.property td:last-child {
  text-align:left;
}
tr.submit input {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px 2px 2px 2px;
  color: #666666;
  font-weight:bold;
  height: 29px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 8px;
  text-align: center;
}
tr.submit input:hover {
  background-color: #F8F8F8;
  border: 1px solid #C6C6C6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #333333;
}
