/* ------------------------------------- CSS for stripped theme -------------------------------- */

/* General rules ------------------------------------------------------------------------------- */

#thePicturePage .left_block,
#thePicturePage .right_block,
#thePicturePage .middle_block,
content {
	padding:0 5px;
}

hr {
	border-style: solid;
	border-width: 1px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

a 			{ text-decoration: none;}
:focus 		{ outline: 0;}
img 			{ border: 0;}
h1 			{ font-size: 153.846%;}
table 		{ border-spacing: 0px;}

/* Fonts --------------------------------------------------------------------------------------- */

body {
	font-size:14px;
}

body, input, select, textarea, file {
	font-family: "Century Gothic", "Lucida Grande", Verdana, DejaVu Sans, sans-serif;
}

#content p, #theNotificationPage li, #content fieldset, .filter {
	text-align:left;
}

#theHeader,
.commentElement blockquote,
.commentElement .author,
#contenteditid,
.additional_info,
#Author .value,
#Tcaption,
.personal_block {
	text-transform:none;
}

.randomButtons,
.categoryActions,
.commentList .action {
	text-transform:lowercase;
}

/* Layout -------------------------------------------------------------------------------------- */

body {
	margin: 0;
	padding: 0;
}

#the_page {
	max-width: 1140px;
	width:99%;
	margin: auto;
	padding: 0;
}

.atr #the_page {
	width: auto;
}
@media (min-width: 798px) and (-webkit-max-device-pixel-ratio: 1.7), (min-width: 798px) and (max-resolution: 163.2dpi) {
	.atr #the_page {
		width: 780px;
	}
}
@media (min-width: 992px) and (-webkit-max-device-pixel-ratio: 2.5), (min-width: 992px) and (max-resolution: 240dpi) {
	.atr #the_page {
		width: 970px;
	}
}
@media (min-width: 1220px) {
	.atr #the_page {
		width: 1140px;
	}
}


#theHeader  {
	margin-bottom: 4px;
}

#content {
	width:100%;
	max-width:1140px;
	margin: 0;
	padding:12px 0;
}

#thePicturePage #content {
	max-width:none;
	padding:0;
	display:block;
}
/*
#theCategoryPage #content {
	text-align:center;
}
*/
#content_cell {
	/*	display:table-cell;*/
	vertical-align:top;
	/*	max-width:1140px;*/
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	/*  min-width: 580px;*/
	max-width: auto;
	float: left;
}
@media (min-width: 798px) and (-webkit-max-device-pixel-ratio: 1.7), (min-width: 798px) and (max-resolution: 163.2dpi) {
	.atr #content_cell {
		width: 580px;
	}
}
@media (min-width: 992px) and (-webkit-max-device-pixel-ratio: 2.5), (min-width: 992px) and (max-resolution: 240dpi) {
	.atr #content_cell {
		width: 770px;
	}
}
@media (min-width: 1220px) {
	.atr #content_cell {
		width: 940px;
	}
}

#thumbnails_block1 {
	max-width:940px;
	margin:auto;
}

#thumbnails_block2 {
	position:relative;
	margin:0;
	padding:0;
	width:auto;
	min-height:540px;
}

#thumbnails {
	position:static;
	margin:0;
}
.thumbnailCategories {
	max-width:900px;
	padding:0 5px;
	margin:auto;
}
@media (min-width: 798px) and (-webkit-max-device-pixel-ratio: 1.7), (min-width: 798px) and (max-resolution: 163.2dpi) {
	#thumbnails {
		margin:0 10px;
	}
	.thumbnailCategories {
		padding:0 20px;
	}
}
@media (min-width: 992px) and (-webkit-max-device-pixel-ratio: 2.5), (min-width: 992px) and (max-resolution: 240dpi) {
	#thumbnails {
		margin:0 15px;
	}
	.thumbnailCategories {
		padding:0 20px;
	}
}
@media (min-width: 1220px) {
	#thumbnails {
		margin:0 20px;
	}
	.thumbnailCategories {
		padding:0 20px;
	}
}

#calendar_block {
	padding: 0 20px;
	max-width:800px;
	margin:auto;
}

#theHeader h1 {
	padding: 1em 0 0;
	color: #666;
	font-family: stencil;
	text-shadow: 0 0 2px #fff;
}
#theHeader h1:first-letter {
	font-size:30px;
}

#theHeader p {
	padding: 0;
	margin: 0;
}

.subcontent h2 {
	margin: 0 0 1em;
}

input, select, textarea { margin: 1px 0;}

.content_block h2 { font-size: 115.385%;}

/* Page title ---------------------------------------------------------------------------------- */

.titrePage, .titrePage a {
	font-weight: bold;
	font-variant: normal;
}

.titrePage {
	min-height:22px;
	font-size:115.385%;
	margin: 3px 0 0 0;
	line-height: 1.4em;
}

.titrePage h2 {
	margin: 1em 0;
	padding: 0;
	display: inline;
}

.titrePage .button {
	float: none;
}

.titrePage img {
	float: left;
	max-height: 16px;
}

#thePicturePage .titrePage img {
	margin: 0 5px;
}

.titrePage .categoryActionsContainer {
	display: inline;
	float: right;
	margin: 0;
	padding: 0 0 0 3px;
	list-style: none;
	height:22px;
	width: auto;
	font-size:86.667%;
}

.categoryActions {
	display:inline;
	padding:0;
}

.categoryActions li {
	display: inline;
	vertical-align:top;
	padding-left:7px;
	float:left;
}

.categoryActions li.mainAction {
	float:right;
}

/* Content ------------------------------------------------------------------------------------- */

.subcontent .stuffs_block,
.content_block {
	/*	max-width: 180px;*/
	margin: auto;
	padding: 0 10px 0 10px;
}

.content_block .additional_info {
	max-width:870px;
	margin: 5px 15px;
	padding: 5px 10px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	box-shadow: 0px 0px 4px #333;
}

#content .content_block .additional_info p {
	text-align:justify;
}

/* Menubar ------------------------------------------------------------------------------------- */

#menubar {
	margin: 0;
	float: left;
	text-align:left;
	display:block;
}

#menubar {
	padding: 0 15px;
	width:auto;
}
.right_menu #menubar {padding: 0 15px;}

@media (min-width: 798px) and (-webkit-max-device-pixel-ratio: 1.7), (min-width: 798px) and (max-resolution: 163.2dpi) {
	#menubar {
		padding: 0 0 0 19px;
		width: 180px;
	}
	.right_menu #menubar {padding: 0 19px 0 0;}
}
@media (min-width: 992px) and (-webkit-max-device-pixel-ratio: 2.5), (min-width: 992px) and (max-resolution: 240dpi) {
	#menubar {
		padding: 0 0 0 19px;
		width: 180px;
	}
	.right_menu #menubar {padding: 0 19px 0 0;}
}
@media (min-width: 1220px) {
	#menubar {
		padding: 0 0 0 19px;
		width: 180px;
	}
	.right_menu #menubar {padding: 0 19px 0 0;}
}


#menubar dl {
	margin:0;
}

#menubar li {
	list-style-type: disc;
}

#menubar dt {
	font-weight: bold;
	font-size:115.384%
}

#menubar dd {
	margin: 0;
	padding: 0.5em 4px 1em 4px;
}

#menubar dd ul {
	margin: 0;
	padding: 0 0 0 0;
	/*background: #e0e0e0;*/
}

#menubar .menuInfoCatByChild,
#menubar .menuInfoCat {
	font-size:76.923%;
}

li span.bullet {
	padding-left: 10px;
}

#menubar .totalImages {
	font-size:84.615%;
	font-style: italic;
	margin: 0;
}

#menubar #mbIdentification div { margin-bottom: 6px;}
#menubar #mbIdentification .submit_block { margin-bottom: 0;}

#menubar dd.randompicdd {
	margin: 0;
	padding: 0.5em 4px 1em 2px;
}

#menubar .ammillustrationc {
	margin:	0;
}

#menubar #menuTagCloud {
	font-size:92.308%;
}

/* Category thumbnails ------------------------------------------------------------------------- */

.js  ul.thumbnailCategories li { cursor:pointer;}
.js  .naf ul.thumbnailCategories li { cursor:default;}
.js  .naf ul.thumbnailCategories li .text { cursor:pointer;}
.js  .stuffs ul.thumbnailCategories li, .js  .stuffs ul.thumbnailCategories li .text { cursor:default;}


.stuffs_block .personal_block ul.thumbnailCategories,
.thumbnailCategories {
	overflow: hidden;
	list-style: none;
}

.stuffs_block .personal_block ul.thumbnailCategories li {
	float: left;
	overflow: hidden;
	margin:5px;
}
.thumbnailCategories li {
	float: left;
	overflow: hidden;
}
.atr .stuffs_block .personal_block ul.thumbnailCategories li { width:273px!important; height:273px;}

.thumbnailCategory {
	/*	display:inline-block;*/
}

.thumbnailCategory .illustration {
	vertical-align:middle;
	border:none;
	float:none;
	/*	width:170px;*/
	table-layout:fixed;
	display:table;
}

.atr .thumbnailCategory .illustration a { width:280px;height:280px;}
.atr .stuffs_block .thumbnailCategory .illustration a { width:263px;}
.atr .thumbnailCategory .illustration a  { vertical-align:bottom;}

/*.atr .thumbnailCategory .illustration { margin:5px 5px 0 5px;}*/
.atr .thumbnailCategory {
	margin: 5px;
	position: relative;
}

.thumbnailCategory .illustration a {
	display:table-cell;
	width:170px;
	vertical-align:middle;
	overflow:hidden;
}

.thumbnailCategory .illustration img {
	display:block;
	margin:auto;
}

.atr .thumbnailCategory .illustration img {
	max-width:286px;
	max-height:286px;
}
@media (min-width: 508px) and (max-width: 568px) {
	.atr .thumbnailCategory .illustration img {
		max-width:226px;
		max-height:226px;
	}
}
@media (min-width: 568px) and (max-width: 628px) {
	.atr .thumbnailCategory .illustration img {
		max-width:256px;
		max-height:256px;
	}
}
@media (min-width: 798px) and (-webkit-max-device-pixel-ratio: 1.7), (min-width: 798px) and (max-resolution: 163.2dpi) {
	.atr .thumbnailCategory .illustration img {
		max-width:256px;
		max-height:256px;
	}
}
@media (min-width: 992px) and (-webkit-max-device-pixel-ratio: 2.5), (min-width: 992px) and (max-resolution: 240dpi) {
	.atr .thumbnailCategory .illustration img {
		max-width:226px;
		max-height:226px;
	}
}
@media (min-width: 1220px) {
	.atr .thumbnailCategory .illustration img {
		max-width:286px;
		max-height:286px;
	}
}

.atd .thumbnailCategory .description .text p.dates { display:none!important;}

.atd  #content .thumbnailCategory .description .text p.Nb_images {
	display:block;
	font-style:italic;
	/*	font-size:76.923%;*/
	text-align:right;
	width:auto;
	margin:0;
	position: absolute;
	bottom: 0;
	right: 0;
}

.atd  #content .thumbnailCategory .description .text p {
	font-size:92.307%;
	display:block;
	text-align:justify;
	width:auto;
	margin-top:5px;
	overflow:hidden;
}

.atr .thumbnailCategory .description {
	overflow: hidden;
	display: inline-block;
	width: 100%;
	height: 45px;
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
	transition: background-color 300ms;
	color: #ccc;
	text-shadow: 2px 1px 1px #000;
}

.description a, .description a:hover, .description a:visited {
	color: #ccc;
}

/*.atr .thumbnailCategory:hover .description:hover {*/
/*overflow: hidden;*/
/*display: inline-block;*/
/*width: 100%;*/
/*height: 45px;*/
/*position: absolute;*/
/*bottom: 0;*/
/*background-color: rgba(128, 0, 0, 0.4);*/
/*-webkit-transition: background-color 300ms;*/
/*-moz-transition: background-color 300ms;*/
/*transition: background-color 300ms;*/
/*color: #ccc;*/
/*text-shadow: 2px 1px 1px #000;*/
/*}*/

.atr .stuffs_block .thumbnailCategory .description { width:263px;}

.atr .stuffs_block .personal_block .thumbnailCategory .description { width:263px;}

.thumbnailCategory .description h3 {
	margin: 0;
	/*font-weight:normal;*/
	font-variant:normal;
	padding-left: 5px;
}

.atd .thumbnailCategory .description h3 {
	font-size:125%;
	padding:0 4px;
	display:block;
	width:auto;
	max-height: 48px;
	overflow: hidden;
	/*	border-bottom:1px solid;*/
}

.thumbnailCategories h3 a {
	color: inherit;
}

.thumbnailCategory .text .dates/*, .thumbnailCategory  .text .Nb_images*/ {
	font-size: 76.923%;
	padding-top: 0;
}

.thumbnailCategory .text p {
	margin: 0;
	padding: 0 4px 4px 4px;
	word-wrap: break-word;
}

/* Images Thumbnails --------------------------------------------------------------------------- */

#thumbnails {
	width: auto;
	text-align: center;
	padding: 8px 0;
}

#thumbnails p {
	margin: 0;
}

ul.thumbnails,
.stuffs_block ul,
#thumbnails ul {
	margin: auto;
	padding: 0;
	overflow: hidden;
	list-style: none;
}

.subcontent .stuffs_block ul {
	max-width:880px;
	margin-top:5px;
}

.thumbnails li,
.stuffs_block li,
#thumbnails li {
	margin: 5px;
	padding: 0;
	float: left;
	width: 170px;
	height: 170px;
	text-align:center;
	display:inline;
	list-style:none;
	overflow:hidden;
}

.wrap1 {
	display:inline-block;
	height:170px;
}

.wrap1 .wrap2 {
	margin:5px 0 0;
	vertical-align:middle;
	border:none;
	float:none;
	width:170px;
	table-layout:fixed;
	display:table;
}

.wrap1 .wrap2,
.wrap1 .wrap2 a{
	height:130px;
}

.wrap1 .wrap2full,
.wrap1 .wrap2full a {
	height:160px!important;
}

.wrap1 .wrap2 a {
	display:table-cell;
	width:170px;
	vertical-align:middle;
	overflow:hidden;
}

.wrap1 .wrap2 .thumbnail ,
.wrap1 .wrap2 .thumbnail :hover {
	display:block;
	margin:auto;
	max-width:160px;
}

.wrap1 .wrap2 .thumbnail {
	max-height:128px;
}

.wrap1 .wrap2full .thumbnail {
	max-height:158px!important;
}

.thumbnails .wrap1 .noLegend {
	display:none;
}

.wrap1 .thumbLegend {
	width:160px;
	height:35px;
	overflow: hidden;
	padding:0 5px;
	display: table-cell;
	vertical-align:middle;
}

.wrap1 .thumbLegend  {
	margin: 0;
	font-weight:normal;
	font-variant:normal;
	font-size:107.692%;
	line-height:16px;
}

.wrap1 .thumbLegend .thumbStats {
	display:none
}

.zero {
	display: none;
}

/* Navigation Bar ------------------------------------------------------------------------------ */

.navigationBar {
	padding: 0.5em;
	text-align: center;
}

.navigationBar a {
	border-bottom: 1px dotted;
}

#thumbnails_block1 .navigationBar {
	padding: 0 25px 5px;
}

#thumb_navigation {
	text-align: center;
}

#thumb_navigation span,
#thumb_navigation a {
	height: 150px;
	width: 20px;
	border: 0;
	padding: 0;
	text-indent: -3000px;
}

#thumb_navigation #tn_prev {
	position: absolute;
	top: 195px;
	left: 4px;
}

#thumb_navigation #tn_next {
	position: absolute;
	top: 195px;
	right: 4px;
}

/* Picture Page -------------------------------------------------------------------------------- */

#thePicturePage #theHeader, #thePicturePage #stendel-header  {
	display: none;
}

.browsePath {
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

.randomButtons {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	width: auto;
	font-size:86.667%;
}

#thePicturePage .pwg-button-text,
.randomButtons li {
	vertical-align:top;
	padding-left:7px;
	float:right;
}

#imageTitleContainer {
	max-width:1100px;
	margin:auto;
	display:inline-block;
	margin-top: 11px;
}

#imageTitle {
	font-size:115.385%;
	line-height:150%;
	margin: auto;
	text-align:center;
	text-transform:none;
}

#theImageAndTitle {
	text-align: center;
	padding: 0;
	width:100%;
}

.imageNumber {
	display:inline;
	font-weight:normal;
	float:left;
	min-width:35px;
	text-align:center;
}

#theImgAndTitle,
#theImage,
#theImg {
	display:inline-block;
}

#rateForm {
	margin: 0;
}

#rateForm input, #rateForm input:active {
	cursor: pointer;
	border: none;
	padding: 0;
}

#rateForm input.rateButtonStarFull  {
	background:  url('icon/rating-stars.png') no-repeat scroll -16px center;
	width: 16px;
}

#rateForm input.rateButtonStarEmpty {
	background:  url('icon/rating-stars.png') no-repeat scroll 0 center;
	width: 16px;
}

.js #theImageAndTitle, .js #theImg, .js #imageTitleContainer {
	opacity:0;
	filter:alpha(opacity=0);
}

#theMainImage { vertical-align:middle;}

.hideTabsZone { display:none;}

.js .hideTabsZone {
	display: block;
	position: absolute;
	top:25px;
	left:0;
	right:0;
	bottom:0;
}

#theImageBox .hideTabsZone { top:0;}

/* Image Nav Arrows ---------------------------------------------------------------------------- */

#theImg {
	position:relative;
	vertical-align:middle;
}

.img_nav {
	position:absolute;
	height:100%;
	top:0;
	display:block;
	z-index: 101;
}
.img_prev 		{ width:40%; }
.img_next 		{ width:60%; }

.img_nav_content {
	width: 20px;
	height: 150px;
	display: block;
	top: 50%;
	margin-top: -75px;
	position: absolute;
}
.img_prev .img_nav_content {
	background:url(icon/arrows.png) 0 0 no-repeat;
	margin-left: 5px;
}
.img_prev:hover .img_nav_content {
	background:url(icon/arrows.png) 0 -150px no-repeat;
}
.img_next .img_nav_content {
	background:url(icon/arrows.png) -20px 0 no-repeat;
	right: 0;
	margin-right: 5px;
}
.img_next:hover .img_nav_content {
	background:url(icon/arrows.png) -20px -150px no-repeat;
}

.hd_link {
	position:absolute;
	height:60%;
	width:100%;
	top:20%;
	left:0;
	display:block;
	background:transparent url(icon/none.png) no-repeat center center;
	cursor:pointer;
}

.hd_link:hover {
	background:transparent url(icon/HD.png) no-repeat center center;
}

.cat_up {
	position:absolute;
	width:100%;
	min-height:80px;
	height:25%;
	top:0;
	left:0;
	display:block;
	background:transparent url(icon/none.png) no-repeat center top;
}

.cat_up:hover {
	background:transparent url(icon/cat_up.png) no-repeat center top;
}

/* Navigation Arrows --------------------------------------------------------------------------- */

#imgprev { left: 4px;}
#imgnext { right: 4px;}
#imgnext, #imgprev {
	position: absolute;
	height:150px;
	width:20px;
	top:50%;
	margin-top:-75px;
}

/* HD Picture Box ------------------------------------------------------------------------------ */

#theImageHigh {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:9000;
}

#theImgHighBg {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

#theImgHighContainer {
	position:absolute;
	width:160px;
	height:80px;
	background:#FFFFFF url(icon/processing.gif) no-repeat scroll 82px 42px;
}

#theImgHighContainer2 {
	overflow:hidden;
	width:100%;
	height:100%;
}

#theImgHigh {
	position:relative;
}

#theImgHighCloseButton, #theImgHighZoomButton {
	position:absolute;
	z-index:9050;
}

.pointer {
	cursor:pointer;
}

#theImgHighCloseButton {
	width:28px;
	height:28px;
	top:15px;
	cursor:pointer;
}

#theImgHighZoomButton {
	width:28px;
	height:28px;
	top:45px;
	cursor:pointer;
}

/* Navbuttons ---------------------------------------------------------------------------------- */

#imageToolBar .navButton {
	display:inline;
	width:24px;
	height:23px;
	float:left;
	margin:-1px 0 0;
	background-repeat: no-repeat;
	overflow:hidden;
}

#icon_first_0				{	background-position: 0 		0		}
#icon_first 					{	background-position: 0 		-24px	}
#icon_first:hover			{	background-position: 0 		-48px	}
#icon_left_0				{	background-position: -24px	0		}
#icon_left 					{	background-position: -24px 	-24px	}
#icon_left:hover 			{	background-position: -24px 	-48px	}
#icon_up 					{	background-position: -48px	-24px	}
#icon_up:hover 				{	background-position: -48px	-48px	}
#icon_stop 					{	background-position: -72px 	-24px	}
#icon_stop:hover 			{	background-position: -72px	-48px	}
#icon_pause 					{	background-position: -96px 	-24px	}
#icon_pause:hover 			{	background-position: -96px 	-48px	}
#icon_play 					{	background-position: -120px	-24px	}
#icon_play:hover 			{	background-position: -120px	-48px	}
#icon_right_0				{	background-position: -144px 0		}
#icon_right 					{	background-position: -144px	-24px	}
#icon_right:hover			{	background-position: -144px -48px	}
#icon_last_0				{	background-position: -168px 0		}
#icon_last					{	background-position: -168px	-24px	}
#icon_last:hover 			{	background-position: -168px -48px	}
#icon_stop_repeat 			{	background-position: -192px -24px	}
#icon_stop_repeat:hover 		{	background-position: -192px -48px	}
#icon_start_repeat		 	{	background-position: -216px -24px	}
#icon_start_repeat:hover	{	background-position: -216px -48px	}
#icon_inc_period 			{	background-position: -240px	-24px	}
#icon_inc_period:hover 		{	background-position: -240px -48px	}
#icon_dec_period 			{	background-position: -264px -24px	}
#icon_dec_period:hover		{	background-position: -264px -48px	}

#imageToolBar #icon_stop_repeat,
#imageToolBar #icon_start_repeat,
#imageToolBar #icon_pause { display:none; }

#light_slideshow #icon_stop_repeat,
#light_slideshow #icon_start_repeat,
#light_slideshow #icon_pause { display:inline; }

/* Tabs ---------------------------------------------------------------------------------------- */

#tabTitleBar { height: 25px;}

#tabTitles {
	height: 25px;
	list-style:none;
	margin:0;
	overflow:hidden;
}

#tabs {
	overflow:hidden;
	height:0;
}

.tabBlock {
	overflow:hidden;
}

.tabTitle {
	padding: 0 20px;
	cursor: pointer;
	min-width: 100px;
	text-align:center;
	display:inline-block;
	float:left;
	font-weight:bold;
}

#Tcaption .tabBlockContent,
#Ttags .tabBlockContent {
	padding-top:25px;
	padding-bottom:25px;
	text-align:center;
}

#tabs .label {
	text-align:right;
	padding-right:5px;
	font-weight:bold;
	width:50%;
}

#tabs .value {
	text-align:left;
	padding-left:5px;
	width:50%;
}

#tabs .infoTable,
#tabs .infoTable2 {
	margin:auto;
	width:100%;
}

.imageInfo{
	width:100%;
	font-family: "Century Gothic","Lucida Grande",Verdana,DejaVu Sans,sans-serif;
}

.imageInfo dt {
	float:left;
	text-align:right;
	padding-right:0px;
	margin-right:3px;
	padding-bottom:3px;
	font-weight:bold;
	width:49.5%;
}

.imageInfo dd {
	float:left;
	text-align:left;
	padding-left:0px;
	margin-left:4px;
	padding-bottom:3px;
	width:46.5%;
}

/* Comments ------------------------------------------------------------------------------------ */

.subcontent .stuffs_block #comments ul.thumbnailCategories,
#comments ul {
	max-width:100%;
	padding:0;
	overflow:hidden;
	height:auto;
}

#comments > ul > li {
	display:inline-block;
	width:99%;
	margin:10px auto;
	padding:5px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.stuffs_block  #comments > ul > li {
	padding: 5px 0;
	margin: 5px;
	width:48.86%!important
}

#comments .thumbnailCategory {
	height:auto;
	display:inline-block;
	width:99%;
	vertical-align:bottom;
}

#comments .illustration img {
	border:none;
	max-width:150px;
	max-height:128px;
}

#comments .illustration {
	float:left;
	padding-left:15px;
	padding-right:15px;
	display:inline-block;
	overflow:hidden;
}

#comments .commentList .illustration a {
	height:143px;
	display:table-cell;
}

#comments .description {
	width:auto;
	display:block;
	overflow:hidden;
	padding-right:5px;
}

#comments .description .date {
	font-style:italic;
}

.stuffs_block #comments .actions {
	display: none;
}

.commentList .actions {
	text-align:right;
	padding-right:4px;
	float:right;
}

.stuffs  #comments .thumbnailCategories .two_comment {
	width:48.8%!important;
	padding:5px 0!important;
	margin:5px 0.6%!important;
}

.stuffs_block #comments .thumbnailCategories li {
	text-align:left;
	margin:5px auto;
	height:auto;
	width:99%!important;
}

#comments .illustration {
	width:170px;
	table-layout:fixed;
	display:table;
}

#comments .illustration  a{
	width:143px;
	text-align:center;
	vertical-align:middle;
}

.stuffs #comments .thumbnailCategory .illustration,
.stuffs #comments .thumbnailCategory .illustration  a{
	width:170px!important;
}

.stuffs #comments blockquote {
	margin-left:10px;
	margin-right:0;
}

#theCommentsPage #comments blockquote {
	margin-right:70px;
}

#commentAdd, #commentList {
	width: 48%;
	padding: 0 1%;
}
#commentAdd  { float: left; }
#commentList { float: right; }

#editComment textarea,
#commentAdd input[type="text"], #commentAdd textarea {
	max-width:95%;
	width: 95%;
	font-size:100%;
}

#commentList ul {
	list-style: none;
	padding: 0;
}

#commentList li {
	clear: both;
	display: block;
	padding: 0.5em 0;
}

#commentList li ul {
	list-style-type: none;
	padding: 4px;
}

#commentList .author {
	font-weight: bold;
}

#commentList .date {
	font-style: italic;
}

#theCommentsPage #comments li {
	clear: left;
	list-style: none;
}

.commentList .author, .commentList .date {
	font-weight: bold;
}

#comments  #editComment fieldset {
	padding:5px;
}

#comments  #contenteditid {
	font-size:100%;
	width:80%;
}

/* Tags ---------------------------------------------------------------------------------------- */

.tagLetter {
	text-align:left;
}

.tagLevel5 { font-size: 75% !important; }
.tagLevel4 { font-size: 75% !important; }
.tagLevel3 { font-size: 75% !important; }
.tagLevel2 { font-size: 75% !important; }
.tagLevel1 { font-size: 75% !important; }

#fullTagCloud {
	text-align: justify;
	/*	margin: 1em 2em;*/
}

#fullTagCloud span {
	white-space: nowrap;
//	margin: 0 0.5em;
}

#fullTagCloud a {
	padding: 1px;
}

.tagLetterContent {
	width: 100%;
}

.tagSelection li {
	display: inline;
}

#menuTagCloud span {
	margin: 0;
}

.nbEntries {
	text-align: right;
}

#theTagsPage #content table {width:100%}

/* Calendar ------------------------------------------------------------------------------------ */

.calCalHead {
	font-size: 107.692%;
	font-weight: bold;
}

.calendarViews, .calendarCalBar 	{ margin: 1em 0;}
.calMonth						{ margin: 1em auto;}
.calendarBar 					{ text-align: center;}
.calendarBar span				{ margin: 0 0.5em;}
.calMonth td 						{ text-align: center;}
.calBackDate, .calForeDate 		{ display: none;}

.calImg {
	text-align: center;
	width:80px;
	height:80px;
	overflow:hidden;
}

/* Inputs & Forms ------------------------------------------------------------------------------ */

fieldset {
	margin: 0 0 1em;
	padding: 1em;
}

fieldset legend 		{ padding: 0 3px;}
fieldset li				{ margin: 0.5em 0;}
form 				{ margin: 0;}
#quicksearch p 		{ margin: 0;}

#content form li, #subcontent form li {
	list-style: none;
	margin: 0.2em 0;
}

.property {
	display: inline-block;
	width: 180px;
}

#profile .property {
	display: inline-block;
	width: 280px;
}


#quickconnect input#username,
#quickconnect input#password,
#quicksearch input#qsearchInput {
	width: 130px;
}

#quickconnect #remember_me {
	position:relative;
	top:2px;
}

#quickconnect ul.actions {
	padding:0;
	float:none;
	font-size:92.308%;
	text-align:left;
}

/* Footer -------------------------------------------------------------------------------------- */

#footer {
	padding: 2px;
	clear: both;
	display:block;
	font-size:84.615%;
	line-height:85%;
	margin-bottom:16px;
}

.footer_login,
.footer_customize,
#footer_left {
	float:left;
}

#copyright {
	float:right;
}

/* Infos & Errors ------------------------------------------------------------------------------ */

.errors 		{ margin: 1em;}
.infos 		{ margin: 1em;}
.errors a 	{ font-weight: bold;}
.infos a 	{ font-weight: bold;}

/* Theme Switcher Plugin ----------------------------------------------------------------------- */

.theme_menuf {
	display:none!important;
}

.categoryActions .themeSwicthSelect,.categoryActions .themeSwitchSelect{
	float:right;
	margin-top:-1px;
}

.categoryActions .selector select {
	position:relative;
	top:-2px;
}

/* Language Switch Plugin ----------------------------------------------------------------------- */

.categoryActions .menuf {
	padding:0 0 0 2px;
	float:right;
}

.categoryActions .menuf .flags {
	margin-top:0;
}

.categoryActions .menuf ul li{
	padding:0;
}

/* ContactForm Plugin -------------------------------------------------------------------------- */

#cf_message { font-size: 100%;}

/* Gmaps Plugin -------------------------------------------------------------------------------- */

#icon_gmaps.size28x28 {
	background:url(../../themes/stripped_responsive/icon/gmaps/i28x28.png);
	display:inline-block;
}

#icon_gmaps.size42x28 {
	background:url(../../themes/stripped_responsive/icon/gmaps/i42x28.png);
	display:inline-block;
}

/* RV Maps & Earth Plugin ---------------------------------------------------------------------- */

#theImageBox #map {
	left:240px;
	margin-bottom:15px;
	margin-right:270px;
}

#theImageBox #mapPicture{
	width:230px;
	margin-left:10px;
}

#theImage 						{ width: 100%;}
#theMapListPage .titrePage h2	{ margin-left: 1em;}

/* User Tags Plugin ---------------------------------------------------------------------------- */

table#TagsTable	{margin:auto;}
#Tags .label		{width:auto;}
#Tags .value		{width:auto;}

/* BBcodeBar Plugin ---------------------------------------------------------------------------- */

.markItUpHeader ul:first-child {
	height: 22px;
}

/* Community Plugin ---------------------------------------------------------------------------- */

#photosAddContent P {
	text-align: center;
}

/* GThumb+ Plugin ------------------------------------------------------------------------------ */

#thumbnails li.gthumb,
#thumbnails li.gthumb:hover {
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

/* PWG Stuffs Plugin --------------------------------------------------------------------------- */

.subcontent .stuffs_block .stuffs {
	/* 	max-width:890px;*/
	padding:0;
}

.stuffs_block .categoryActions  {
	display:none;
}

.subcontent .stuffs_block .left_block,
.subcontent .stuffs_block .right_block,
.subcontent .stuffs_block .middle_block {
	max-width: 880px;
	padding: 10px 5px;
}

.subcontent .stuffs_block .left_block {
	margin: 5px 10px 0 0;
}

.subcontent .stuffs_block .right_block {
	margin: 5px 0 0 10px;
}
.subcontent .stuffs_block .middle_block {
	margin: 5px !important;
}

.stuffs_block ul.thumbnailCategories {
	display:inline-block;
}

.stuffs_block ul.thumbnailCategories li {
	width:170px;
	float:left;
}

.stuffs_block  .logon_block {
	text-align:	left;
}

.stuffs_block .personal_block ul,
.stuffs_block .logon_block  ul {
	overflow: visible;
}

.stuffs_block  .personal_block  li,
.stuffs_block  .logon_block li {
	background: none;
	margin: auto;
	float: none;
	width: auto;
	height: auto;
	text-align:left;
	display:block;
}

.stuffs_block .categoryActions li {
	background: none;
	margin: auto;
	float: none;
	width: 0;
	height: auto;
	display: block;
	text-align: right;
}

.stuffs_block .categoryActions {
	margin-top:0;
	padding-right:10px;
}


.stuffs_block .categoryActions li:hover,
.stuffs_block  .personal_block  li:hover,
.stuffs_block  .logon_block li :hover{
	background: none;
}

.stuffs_block .logon_block  img {
	display: none;
}

.stuffs_block .logon_block  .property {
	line-height: 200%;
}

.stuffs_block .logon_block  form{
	text-align: center;
	margin: auto;
	max-width: 600px;
}

.stuffs_block .logon_block  p a { margin-right: 8px}
.stuffs_block .personal_block  { text-align: center;}
#content .stuffs_block .personal_block  p { text-align: justify;}
.stuffs_block #thumbnails  {margin:0;}
.stuffs_block #thumbnails li {margin:5px 3px;}
.stuffs_block .titrePage { margin: 0;}

#theCategoryPage  #the_page .stuffs {
	margin: 0;
	padding:5px 0;
}

#thePicturePage .stuffs { margin:3px 0;}
#thePicturePage .stuffs_block p { text-align:left;}

#thePicturePage .stuffs_block {
	max-width:1120px;
	padding:0;
	text-align:center;
}

.stuffs_block .personal_block ul.thumbnailCategories {
	vertical-align:bottom;
	margin-top:0;
}

#content .stuffs_block  .wrap2 { height:130px!important;}
#content .stuffs_block .wrap1 .wrap2full { height:160px!important;}
/* Loader gif new in 2.5 */
.loader {
	display: none;
	position: fixed;
	right: 0;
	bottom: 0;
}

/* drop-down boxes new in 2.4 */
.switchBox {
	padding: 0.5em 5px;
	border-radius: 4px;
	z-index: 100;
	text-align:left;
	display: none;
	position: absolute;
	left: 0; top: 0; /*left, right set through js*/
	border: none;
	background-color: #222;
	color:#aaa;
	font-size:14px;
}

.switchBox .switchBoxTitle {
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom: 1px solid #444444;
}

.menu-random-photo .ammillustration#imrp_ill0 {
	padding: 0;
}

.menu-random-photo .ammillustrationc {
	border: 1px solid #555;
}
.menu-random-photo .ammillustrationc:hover {
	border-color: #101010;
}
.menu-random-photo .illustration {
	border: 1px solid #777;
}
.menu-random-photo .illustration:hover {
	border-color: #c0c0c0;
}

.fotorama-slideshow #content {
	border-width: 0;
}
.fotorama-slideshow #theImage {
	display: block;
}





.greybutton, .greenbutton, .bluebutton, .redbutton, .yellowbutton, .darkbutton {
	border: 0 none;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
	color: White !important;
	display: inline-block;
	font-family: verdana,sans-serif;
	font-size: 11.5px;
	font-weight: normal;
	height: 2.25em;
	line-height: 2.25em;
	min-width: 12em;
	padding: 0 0.5em;
	text-align: center;
	text-decoration: none !important;
	transition: all 300ms cubic-bezier(0.6, 0, 0, 0.7) 0s;
}

.small-greybutton, .small-greenbutton, .small-bluebutton, .small-redbutton, .small-yellowbutton, .small-darkbutton {
	border: 0 none;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
	color: White !important;
	display: inline-block;
	font-family: verdana,sans-serif;
	font-size: 11.5px;
	font-weight: normal;
	/*height: 2.25em;*/
	/*line-height: 2.25em;*/
	/*min-width: 12em;*/
	padding: 0 0.5em;
	text-align: center;
	text-decoration: none !important;
	transition: all 300ms cubic-bezier(0.6, 0, 0, 0.7) 0s;
}

.greybutton:hover, .greenbutton:hover, .bluebutton:hover, .redbutton:hover, .yellowbutton:hover, .darkbutton:hover {
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.1) inset;
	cursor: pointer;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.small-greybutton:hover, .small-greenbutton:hover, .small-bluebutton:hover, .small-redbutton:hover, .small-yellowbutton:hover, .small-darkbutton:hover {
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.1) inset;
	cursor: pointer;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 40em) {
	.greybutton, .greenbutton, .bluebutton, .redbutton, .yellowbutton, .darkbutton {
		display: block;
		height: 3em;
		line-height: 3em;
		width: 100%;
	}

	.small-greybutton, .small-greenbutton, .small-bluebutton, .small-redbutton, .small-yellowbutton, .small-darkbutton {
		display: block;
		height: 3em;
		line-height: 3em;
		width: 100%;
	}
}

.greybutton, .small-greybutton {
	background: none repeat scroll 0 0 #7f8c8d !important;
}
.greybutton:hover, .small-greybutton:hover {
	background: none repeat scroll 0 0 #95a5a6 !important;
}
.greybutton:active, .small-greybutton:active {
	background: none repeat scroll 0 0 #7f8c8d !important;
}
.greenbutton, .small-greenbutton {
	background: none repeat scroll 0 0 #27ae60 !important;
}
.greenbutton:hover, .small-greenbutton:hover {
	background: none repeat scroll 0 0 #2ecc71 !important;
}
.greenbutton:active, .small-greenbutton:active {
	background: none repeat scroll 0 0 #27ae60 !important;
}
.bluebutton, .small-bluebutton {
	background: none repeat scroll 0 0 #2980b9 !important;
}
.bluebutton:hover, .small-bluebutton:hover {
	background: none repeat scroll 0 0 #3498db !important;
}
.bluebutton:active, .small-bluebutton:active {
	background: none repeat scroll 0 0 #2980b9 !important;
}
.redbutton, .small-redbutton {
	background: none repeat scroll 0 0 #c0392b !important;
}
.redbutton:hover, .small-redbutton:hover {
	background: none repeat scroll 0 0 #e74c3c !important;
}
.redbutton:active, .small-redbutton:active {
	background: none repeat scroll 0 0 #c0392b !important;
}
.yellowbutton, .small-yellowbutton {
	background: none repeat scroll 0 0 #f39c12 !important;
}
.yellowbutton:hover, .small-yellowbutton:hover {
	background: none repeat scroll 0 0 #f3b319 !important;
}
.yellowbutton:active, .small-yellowbutton:active {
	background: none repeat scroll 0 0 #f39c12 !important;
}
.darkbutton, .small-darkbutton {
	background: none repeat scroll 0 0 #2c3e50 !important;
}
.darkbutton:hover, .small-darkbutton:hover {
	background: none repeat scroll 0 0 #405a73 !important;
}
.darkbutton:active, .small-darkbutton:active {
	background: none repeat scroll 0 0 #2c3e50 !important;
}

.black {
	color: #000;
}
.white {
	color: #fff;
}

.darknavigation {
	cursor: pointer;
	border: 0 none;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
	color: White !important;
	display: inline-block;
	font-family: verdana, sans-serif;
	font-size: 11.5px;
	font-weight: normal;
	height: 2.25em;
	line-height: 2.25em;
	min-width: 12em;
	padding: 0 0.5em;
	text-align: center;
	text-decoration: none !important;
	transition: all 300ms cubic-bezier(0.6, 0, 0, 0.7) 0s;
}
.darknavigation {
	background: none repeat scroll 0 0 #2c3e50 !important;
}
.darknavigation:hover {
	background: none repeat scroll 0 0 #405a73 !important;
}
.darknavigation:active {
	background: none repeat scroll 0 0 #2c3e50 !important;
}