#tooltip {
    background: #657b8a;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 7px #000000;
    min-height: 32px;
    min-width: 32px;
    padding: 12px;
    z-index: 1000;
}
#tooltip img {
	max-height: 600px;
	max-width: 600px;
}
/* Text below image */
#tooltip span {
    color: #000;
    text-align: center;
    display: block;
    padding: 10px 0 3px 0;
}