<style type="text/css">
#menubar {display:none !important;}
.titrePage {display:none}
.content {max-width:1120px; margin:0 auto 10px auto !important;}
.Online {display:none;}
.content_block {max-width:none;}
 
.myHomePage_photo {text-align: center; margin:50px 0 20px 0;}
.myHomePage_photo a img {border-width:2px; border-style:solid; border-color:#666;}
.myHomePage_links {letter-spacing:2px; text-align:center; margin-bottom:0; font-weight:bold;}
.myHomePage_name {margin-top:30px; letter-spacing:2px; text-align:center;}
</style>
 
<div id="myHomePage">
<h2>Über uns</h2>
</div>
